* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  height: 70px;
}
.navbar {
  height: 60px;
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-list {
  display: flex;
}
.nav-list li {
  list-style: none;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.nav-list li:hover {
  color: rgb(238, 233, 233);
}
.logo {
  margin-left: 30px;
  color: #fff;
}
nav a {
  text-decoration: none;
}
.shopname {
  text-transform: uppercase;
  margin-left: 300px;
}
#inputBox {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 250px;
}
.btn1 {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 80px;
  color: #fff;
  background-color: rgb(5, 6, 5);
  cursor: pointer;
}
.Off {
  text-decoration: line-through;
  font-size: small;
}
.card {
  width: 250px;
  background-color: rgb(190, 157, 118);
  height: 300px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.img2 {
  width: 100%;
  height: 65%;
}
.btn2{
  padding: 6px;
  cursor: pointer;
  font-weight: bold;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .shopname {
    font-size: large;
    margin-left: 100px;
  }
  .nav-list li {
    font-size: 16px;
  }
  #inputBox {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 200px;
  }
  .btn1 {
    padding: 10px;

    border: none;
    outline: none;
    border-radius: 8px;
    width: 70px;
    color: #fff;
    background-color: rgb(5, 6, 5);
    cursor: pointer;
  }
}

@media screen and (max-width: 650px) {
  .shopname {
    font-size: medium;
    margin-left: 25px;
  }
  nav {
    height: 55px;
  }
  .nav-list li {
    font-size: small;
    margin-top: 5px;
    margin-left: 20px;
  }
  #inputBox {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 200px;
  }
  .navbar {
    display: block;
  }
  .formInput {
    display: block;
    margin-left: 20px;
  }
  .btn1 {
    margin-top: 7px;
    padding: 5px;

    border: none;
    outline: none;
    border-radius: 8px;
    width: 60px;
    color: #fff;
    background-color: rgb(5, 6, 5);
    cursor: pointer;
  }
}
